.center {
    display: flex;
    justify-content: center;
}

.msg {
    display: flex;
    justify-content: center;
    background-color: #4CAF50; /* Color de fondo verde, puedes cambiarlo según tus preferencias */
    color: #fff; /* Color del texto blanco, puedes ajustarlo según tus preferencias */
    padding: 60px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
}

